<ion-header>
  <ion-toolbar>


    <ion-title class="header">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="logo">
    <img src="assets/logo_registro.png" alt="" width=200px>
  </div>
 
  <form [formGroup]= "formularioRegistro" (keyup.enter)= "CrearUsuario()">


    <ion-item class="inputs">
      <ion-label>Nombre: </ion-label>
      <ion-input type="text" placeholder="Nombre" formControlName="nombre">
      </ion-input>
    </ion-item>

   
    <ion-item class="inputs">
      <ion-label>Password: </ion-label>
      <ion-input type="password" placeholder="Contraseña" formControlName="password">
      </ion-input>
    </ion-item>
   
    <ion-item class="inputs">
      <ion-label>Email: </ion-label>
      <ion-input type="text" placeholder="Email" formControlName="email">
      </ion-input>
    </ion-item>
    
    
    <ion-item class="inputs">
      <ion-select type="text" placeholder="¿que eres?" formControlName="tipo">
        <ion-select-option >Docente</ion-select-option>
        <ion-select-option >Alumno</ion-select-option>
        
      </ion-select>
    </ion-item>
    <ion-button class="boton_registrate" (click)="CrearUsuario()" expand="block"
      routerLink="/inicio">
      Registrar
    </ion-button>



  </form>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="footer">
      <ion-tab-button routerLink="/inicio">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Atras</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="Saludo()">
        <ion-icon name="woman"></ion-icon>
        <ion-label>¿Quienes somos?</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="Contacto()">
        <ion-icon name="paper-plane"></ion-icon>
        <ion-label>contactanos</ion-label>
      </ion-tab-button>
    </div>
  </ion-toolbar>
</ion-footer>