
<ion-header>
  <ion-toolbar>


    <ion-title class="header">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="logo">
    <img src="assets/logo_registro.png" alt="" width=200px>
  </div>
 
  <form #formulario="ngForm" (ngSubmit)="onSubmit()">


    <ion-item class="inputs">
      <ion-label>Nombre: </ion-label>
      <ion-input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre" required>
      </ion-input>
    </ion-item>

   
    <ion-item class="inputs">
      <ion-label>Password: </ion-label>
      <ion-input type="password" placeholder="Contraseña" name="password" value="" [(ngModel)]="usuario.password"
        required>
      </ion-input>
    </ion-item>
   
    <ion-item class="inputs">
      <ion-label>Email: </ion-label>
      <ion-input type="email" placeholder="Email" name="email" value="" [(ngModel)]="usuario.email"
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
      </ion-input>
    </ion-item>
    
    
    <ion-item class="inputs">
      <ion-select interface="action-sheet" placeholder="¿que eres?" required>
        <ion-select-option value="apples">Docente</ion-select-option>
        <ion-select-option value="oranges">Alumno</ion-select-option>
        
      </ion-select>
    </ion-item>
    <ion-button class="boton_registrate" [disabled]="formulario.invalid" type="submit" expand="block"
      routerLink="/inicio">
      Registrar
    </ion-button>



  </form>
  <div class="privacidad">
    <p>Recuerda que al registrarte aceptas nuestros terminos y condiciones</p>
    <p>Enterate como usamos tus datos en nuestra Politica de Privacidad</p>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="footer">
      <ion-tab-button routerLink="/inicio">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Atras</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="Saludo()">
        <ion-icon name="woman"></ion-icon>
        <ion-label>¿Quienes somos?</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="Contacto()">
        <ion-icon name="paper-plane"></ion-icon>
        <ion-label>contactanos</ion-label>
      </ion-tab-button>
    </div>
  </ion-toolbar>
</ion-footer>