<ion-header>
  <ion-toolbar>
    <ion-title class="header">QR</ion-title>
    <ion-buttons slot="start">
      
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="background">
 <div class="qrscann">
<div class="alumnoqr">
  
  </div>
  <div class="titulo" >
    <h4>Escanea tu QR para quedar presente!</h4>
<div class="qrimg">
  
<img src="assets/qrscan.png" alt="" width="220px">

</div>

</div>
  <ion-button  class="qr" >
    <ion-icon name="qr-code-outline"></ion-icon>
  </ion-button> 

</div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="footer">
      
      <ion-tab-button (click)="Saludo()" >
        <ion-icon name="woman"></ion-icon>
        <ion-label>Nosotros</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/inicio">
        <ion-icon name="paper-plane"></ion-icon>
        <ion-label>contactanos</ion-label>
      </ion-tab-button>
    </div>
  </ion-toolbar>
</ion-footer>

