<ion-header>
  <ion-toolbar>
    <ion-title class="header_inicio">CheckList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="logoinicio">
    <img src="assets/logo_inicio.png" alt="" width=220px>
  </div>

  <div class="inicio">
    <h3 class="bienvenido">Bienvenido!, comencemos!</h3>
    <h2>¿Que eres?</h2>
    <ion-button routerLink="/login">

      Docente
    </ion-button>
    <ion-button routerLink="/login">
      Alumno

    </ion-button>

    

    <h4>¿No tienes cuenta?</h4>
    <ion-item class="registrate" routerLink="/Registro">
      <ion-button (click)="Crear Usuario" ></ion-button>
      Registrar
    </ion-button>

      <ion-label >
        <h2>Registrate</h2>
      </ion-label>
      
    </ion-item>
  </div>
  <p class="inicio">No te preocupes, no compartiremos tus datos con nadie</p>


</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="footer">
      
      <ion-tab-button (click)="Saludo()" >
        <ion-icon name="woman"></ion-icon>
        <ion-label>Nosotros</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/inicio">
        <ion-icon name="paper-plane"></ion-icon>
        <ion-label>contactanos</ion-label>
      </ion-tab-button>
    </div>
  </ion-toolbar>
</ion-footer>