<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="background">
 <div class="alumnohome">
<div class="iconalumno">
  <img src="assets/alumnofoto.png" alt="" width="220px">
  <h5>Nombre Apellido1 Apellido2</h5>
  </div>



<ion-button  class="scann" routerLink="/alumno-escanear-qr">
  Escanear Código QR
</ion-button> 
<ion-button class="asig" routerLink="/alumno-asignaturas">
  Ver Asignaturas
</ion-button>

</div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="footer">
      
      <ion-tab-button (click)="Saludo()" >
        <ion-icon name="woman"></ion-icon>
        <ion-label>Nosotros</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/inicio">
        <ion-icon name="paper-plane"></ion-icon>
        <ion-label>contactanos</ion-label>
      </ion-tab-button>
    </div>
  </ion-toolbar>
</ion-footer>

