@font-face {
    font-family: "lemon_medium";
    src: url(/assets/fonts/lemon_medium.otf);
  }

.background{
    font-family: 'lemon_medium';
    font-size: 15px;
}

.header{
    text-align: center;
    font-family: 'lemon_medium';
}