<ion-header>
  <ion-toolbar>
    <ion-title class="header">Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="logoestudiantes">
    <img src="assets/estudiantes_logo.png" alt="" width=220px>
  </div>
  <br>
  <form #formulario="ngForm" (ngSubmit)="onSubmit()">
   

    <ion-item class="inputs">
      <ion-label >Nombre: </ion-label>
      <ion-input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre" required>
      </ion-input>
    </ion-item>

<br>
    <ion-item class="inputs"> 
      <ion-label >Password: </ion-label>
      <ion-input type="password" placeholder="Contraseña" name="password" value="" [(ngModel)]="usuario.password"
        required>
      </ion-input>
    </ion-item>
<br>
    <ion-button class="boton_inicio" [disabled]="formulario.invalid" type="submit" expand="block" routerLink="/alumno-home">
      Iniciar sesión
    </ion-button>
    
  </form>



</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="footer">
      <ion-tab-button routerLink="/inicio">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Atras</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/inicio">
        <ion-icon name="woman"></ion-icon>
        <ion-label>Nosotros</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/inicio">
        <ion-icon name="paper-plane"></ion-icon>
        <ion-label>contactanos</ion-label>
      </ion-tab-button>
    </div>
  </ion-toolbar>
</ion-footer>