<ion-header>
  <ion-toolbar>
    <ion-title class="header">Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="logoestudiantes">
    <img src="assets/estudiantes_logo.png" alt="" width=220px>
  </div>
  <br>
  <form [formGroup] = "formularioLogin">
   

    <ion-item class="inputs">
      <ion-label >Nombre: </ion-label>
      <ion-input type="text" placeholder="Nombre" formControlName="nombre" >
      </ion-input>
    </ion-item>

<br>
    <ion-item class="inputs"> 
      <ion-label >Password: </ion-label>
      <ion-input type="text" placeholder="Contraseña" formControlName="password">
        
      </ion-input>
    </ion-item>
<br>
    <ion-button class="boton_inicio"  expand="block" routerLink="/alumno-home" (click)="Ingresar()">
      Iniciar sesión
    </ion-button>
    
  </form>



</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="footer">
      <ion-tab-button routerLink="/inicio">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Atras</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="Saludo()">
        <ion-icon name="woman"></ion-icon>
        <ion-label>Nosotros</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="Contacto()">
        <ion-icon name="paper-plane"></ion-icon>
        <ion-label>contactanos</ion-label>
      </ion-tab-button>
    </div>
  </ion-toolbar>
</ion-footer>