<ion-header>
  <ion-toolbar>
    <ion-title class="header">Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  
  <div class="titulo">
    Estas son tus Asignaturas
  </div>
  <div class="ejemplo_lista">
    <img src="assets/ejemplo_lista.png" alt="" width=300spx>
  </div>



</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="footer">
      <ion-tab-button routerLink="/alumno-home">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Atras</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="Saludo()">
        <ion-icon name="woman"></ion-icon>
        <ion-label>Nosotros</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="Contacto()">
        <ion-icon name="paper-plane"></ion-icon>
        <ion-label>contactanos</ion-label>
      </ion-tab-button>
    </div>
  </ion-toolbar>
</ion-footer>